<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg w-96">
    <h2 class="text-xl font-semibold mb-4 text-center">{{ isEdit ? 'Editar Asistencia' : 'Agregar Nuevo Asistencia' }}
    </h2>
    <form (ngSubmit)="onSubmit()">
      <label class="block mb-2">Fecha:</label>
      <input 
      [(ngModel)]="asistencia.fecha" 
      name="fecha" 
      type="datetime-local" 
      class="w-full mb-4 p-2 border rounded"
      required (change)="validateFecha()"
      [min]="today"
      [max]="today"
        />
      <p *ngIf="!fechaValida" class="text-red-500 text-sm mb-4">
        Solo puedes seleccionar fechas entre lunes y viernes.
      </p>
      <label class="block mb-2">Presente:</label>
      <div class="flex items-center mb-4">
        <label class="flex items-center mr-4">
          <input type="radio" [(ngModel)]="asistencia.presente" [value]="true" name="presente" class="mr-2">
          Sí
        </label>
        <label class="flex items-center">
          <input type="radio" [(ngModel)]="asistencia.presente" [value]="false" name="presente" class="mr-2">
          No
        </label>
      </div>
      <label class="block mb-2">Curso:</label>
      <select [(ngModel)]="asistencia.curso" name="curso" class="w-full mb-4 p-2 border rounded" required>
        <option *ngFor="let curso of cursos" [ngValue]="curso">{{ curso.nombre }}</option>
      </select>

      <label class="block mb-2">Alumno:</label>
      <select [(ngModel)]="asistencia.alumno" name="alumno" class="w-full mb-4 p-2 border rounded" required>
        <option *ngFor="let alumno of alumnos" [ngValue]="alumno">{{ alumno.nombre }}</option>
      </select>



      <div class="flex justify-end">
        <button type="button" (click)="cancel()" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancelar</button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
      </div>
    </form>
  </div>
</div>