@if(asistencia) {
  <div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
    <div class="bg-white p-6 rounded-lg w-full max-w-4xl overflow-y-auto">
      <h2 class="text-xl font-semibold mb-4 text-center">Detalle de Asistencia</h2>

      <!-- Detalles de Asistencia -->
      <div class="space-y-4">
        <p><strong>Alumno:</strong>
          {{ asistencia.alumno?.nombre }} {{ asistencia.alumno?.apellido }}
        <p><strong>Fecha:</strong> {{ asistencia.fecha }}</p>
        <p><strong>Asistencia:</strong>  <span
          [ngClass]="{
            'text-green-500 font-bold': asistencia.presente,
            'text-red-500 font-bold': !asistencia.presente
          }">
          {{ asistencia.presente ? 'Llegó a clase' : 'No llegó a clase' }}
        </span></p>

        <!-- Detalles del Curso -->
        <h3 class="text-lg font-semibold">Curso Asociado</h3>
        <p><strong>Curso:</strong> {{ asistencia.curso?.nombre }}</p>
        <p><strong>Descripción del Curso:</strong> {{ asistencia.curso?.descripcion }}</p>
        <p><strong>Grado Escolar:</strong> {{ asistencia.curso?.gradoEscolar?.nombre }}</p>
        <p><strong>Maestro:</strong>
          {{ asistencia.curso?.maestro?.nombre }} {{ asistencia.curso?.maestro?.apellido }}
        <strong> Especialidad:</strong>
          ({{ asistencia.curso?.maestro?.especialidad }})
        </p>

      </div>

      <!-- Botón de Cierre -->
      <div class="flex justify-end mt-6">
        <button
          (click)="closeModal()"
          class="bg-gray-500 hover:bg-gray-700 text-white px-4 py-2 rounded">
          Cerrar
        </button>
      </div>
    </div>
  </div>
}
