<div class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg w-96">
    <h2 class="text-xl font-semibold mb-4 text-center"> {{ isEdit ? 'Editar Maestro' : 'Agregar Nuevo Maestro' }}</h2>
    <form (ngSubmit)="onSubmit()">
      <label class="block mb-2">Nombre:</label>
      <input [(ngModel)]="maestro.nombre" name="nombre" class="w-full mb-4 p-2 border rounded" required />

      <label class="block mb-2">Apellido:</label>
      <input [(ngModel)]="maestro.apellido" name="apellido" class="w-full mb-4 p-2 border rounded" required />

      <label class="block mb-2">Especialidad:</label>
      <input [(ngModel)]="maestro.especialidad" name="especialidad" type="text" class="w-full mb-4 p-2 border rounded" required />

      <div class="flex justify-end">
        <button type="button" (click)="cancel()" class="bg-gray-500 text-white px-4 py-2 rounded mr-2">Cancelar</button>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Guardar</button>
      </div>
    </form>
  </div>
</div>
