<div class="flex justify-between items-center mb-4">
  <h2 class="text-xl font-semibold">Lista de Asignaturas</h2>
  <button (click)="agregarNuevoAsignatura()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
    Agregar Nuevo
  </button>
</div>
@if(showModal){
<app-add-edit-asignatura [asignatura]="asignaturaToEdit" [cursos]="cursos" (save)="guardarNuevoAsignatura($event)"
  (cancelAction)="closeModal()"></app-add-edit-asignatura>
}

@if(errorMessage){<div class="text-red-500 mb-4">{{ errorMessage }}</div>}
@if(asignaturas.length === 0){<div class="mb-4">No hay alumnos disponibles.</div>}
@if(asignaturas.length > 0){
<table class="min-w-full bg-white">
  <thead>
    <tr>
      <th class="py-2">Nombre</th>
      <th class="py-2">Descripcion</th>
      <th class="py-2">Curso</th>
      <th class="py-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for(asignatura of asignaturas; track $index){
    <tr>
      <td class="py-2 text-center">{{ asignatura.nombre }}</td>
      <td class="py-2 text-center">{{ asignatura.descripcion }}</td>
      <td class="py-2 text-center">
        {{ asignatura.curso ? (asignatura.curso.nombre + ' ') : 'Sin Curso' }}
      </td>
      <td class="py-2 text-center">
        <button (click)="editarAsignatura(asignatura)"
          class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-1 px-3 rounded mr-2">
          <i class="fas fa-edit"></i>
        </button>
        <button (click)="eliminarAsignatura(asignatura.id)"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded mr-2">
          <i class="fas fa-trash"></i>
        </button>
        <button  (click)="verDetalle(asignatura)"
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-3 rounded mr-2">
        <i class="fas fa-eye"></i>
      </button>
      </td>
    </tr>
    }
  </tbody>
</table>
}
<div class="mt-4 flex justify-center space-x-2">
  <button (click)="cambiarPagina(page - 1)" [disabled]="page === 0"
    class="px-4 py-2 bg-gray-300 rounded">Anterior</button>
  <span>Página {{ page + 1 }} de {{ totalPages }}</span>
  <button (click)="cambiarPagina(page + 1)" [disabled]="page + 1 >= totalPages"
    class="px-4 py-2 bg-gray-300 rounded">Siguiente</button>
</div>
@if(showDetalleModal) {
  <app-show-asignatura
    [asignatura]="selectedAsignatura"
    (close)="cerrarDetalle()">
  </app-show-asignatura>
}
